# Ignore the real environment file
docker/.env

# Ignore any SSL keys we generate later for Level 2
nginx/ssl/*.pem
nginx/ssl/*.key

# Ignore OS-specific files
.DS_Store

# Ignore the real secrets directory to prevent leaking passwords
docker/secrets/

# Ignore the actual environment variables file
.env

# Ignore Kubernetes secrets
k8s/base/secrets.yaml
